.form-slider, .form-text {
    display: flex;
    justify-content: center;
}

.form-slider {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
}

input {
    align-self: center ;
}

.form-element > label {
    width: 100px;
}

body {
    background: #F0F0F0;
}

.trail-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider {
    align-self: center;
}