.calculation .number {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 200px;
    color: #454545;
}

.calculation .info {
    text-align: center;
    position: relative;
    top: -30px;
    color: #454545;
}

.calculation {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}