nav {
    height: 70px;
    display: flex;
    justify-content: center;
    background: #E3E3E3;
    color: #454545;
}

.central-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-link {
    text-decoration: none;
}

.central-header h1 {
    line-height: 30px;
    font-family: Poppins;
    text-transform: lowercase;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.central-header h2 {
    line-height: 10px;
    font-family: Montserrat;
    text-transform: uppercase;
    font-variant-caps: small-caps;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.3em;
    top: 35px;
    margin: 0;
}